*{ margin: 0; padding: 0; }

.text{
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  text-decoration:none;
}

.line-height_px_extra-large{line-height: 96px;}
.line-height_px_large{line-height: 51px;}
.line-height_px_medium{line-height: 34px;}
.line-height_px_small{line-height: 30px;}
.line-height_px_extra-small{line-height: 25px;}
.line-height_units_small{line-height: 1.2;}
.line-height_units_extra-small{line-height: 1.15;}

.justify-content_center{justify-content: center;}
.justify-content_space-between{justify-content: space-between;}


.positioned_absolutely{
  position: absolute;
}

.flex{
  display: flex;
}

.link-style{
  text-decoration: none;
  color: #2f80ed;
}

.page{
  min-width: 1100px;
  max-width: 1600px;
}

.header{
  position: relative;
  height: 756px;
  background: #f2f2f2;
  min-height:600px;
  max-height:756px;
}

.logo{
  width:228px;
  height:32px;
}

.logo_place_header{
  top:30px;
  left:64px;
}

.header__title{
  align-self: center;
  margin-left:64px;
  width:730px;
  font-weight: 600;
  font-size: 102px;
}

.header__subtitle{
  align-self: flex-end;
  width:388px;
  left:64px;
  font-weight:normal;
  font-size: 18px;
  bottom:30px
}

.header__square-pic{
  background-color: #2f80ed;
  width:568px;
  height:568px;
  top:64px;
  right:0;
}

.header__two-again{
  width:765px;
  height:608px;
  right:0;
  bottom:0;
}

.description{
  margin:100px 0;
}

.description__two-columns{
    width:80%;
}

.description__brief{
  width:175px;
}

.description__brief-link{
  font-size:18px;
  font-weight: normal;
}

.description__main_text{
  width:80%;
  min-width: 784px;
  flex-direction: column;
}

.description__paragraph{
  font-size:24px;
  font-weight:normal;

}

.span-accent{
  font-size: 24px;
  font-weight: 600;
}

.paragraph_margin:first-of-type{
  margin-bottom:30px;
}
.paragraph_margin:last-of-type{
  margin-top:30px;
}

.digits{
  margin: 100px 0;
  align-items: center;
  flex-direction: column;
}

.section-title{
  font-size: 60px;
  font-weight:600;
  width:60%;
  margin-bottom: 20px;
}

.section-subtitle{
  width:60%;
  font-size:24px;
  font-weight: normal;
}

.digits__table{
  flex-wrap: wrap;
  width: 1100px;
}

.table_cell{
  margin-top: 60px;
  width: 250px;
}

.table_heading{
  font-size:24px;
  font-weight: 600;
}

.table_text{
  padding-top:20px;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  position:relative;
  margin-top: 100px;
  flex-direction: column;
  height:890px;
  background-repeat: no-repeat;
  background-image: url('./images/feynman.png');
  background-position-x: left;
  background-position-y: bottom;
  background-color: #f2f2f2;

}

.feynman__section-title{
  margin-top: 100px;
  width:648px;
  font-size: 120px;
  font-weight: 600;
  align-self: center;
  text-align: center;
}

.feynman__section-subtitle{
  margin-top:70px;
  font-size: 36px;
  font-weight: normal;
  align-self: center;
}

.feynman__section-link{
  top: 50%;
  right:48px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman{
  overflow: hidden;
  position:relative;
  background-color:#1f1f1f;
  align-items: center;
  flex-direction: column;
}

.kaufman__table{
  flex-wrap: wrap;
  width: 1100px;
  margin-bottom: 90px;
  z-index: 2;
}

.section-title_theme_dark{
  width:60%;
  font-size: 60px;
  font-weight: 600;
  margin-top: 90px;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.section-subtitle_theme_dark{
  font-size:24px;
  font-weight: normal;
  color: #f2f2f2;
  width:60%;
}

.table_cell_theme_dark{
  width: 200px;
  color: #f2f2f2;
  margin-top: 80px;
}

.table_heading_theme_dark{
  font-size:24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.table_text_theme_dark{
  font-size: 18px;
  font-weight: normal;
}

.triangle{
  right:-210px;
  top:0;
  width: 877px;
  height: 877px;
  z-index: 1;
}

.footer{
  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
}


.footer__columns{
  width: 90%;
}
.footer__column_content-copyright{
  flex-basis: 711px;
  flex-direction: column;
}

.footer__author{
  color: #f2f2f2;
  font-size: 18px;
  font-weight: normal;
  margin:18px 0;
}

.footer__column_content-info, .footer__column_content-social{
  flex-direction: column;
}


.footer__column-links{
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 16px;
}

.footer__column-heading{
  font-size: 18px;
  font-weight: 600;
  color: #f2f2f2;
}

.footer__column-link{
  color: #f2f2f2;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.footer__social-icon{
  width:16px;
  height:16px;
  padding-right: 10px;

}
